*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* UTILITIES */
.white{
  color: white;
}
.margin-small{
  margin-bottom: 10px;
}
.margin-big{
  margin-bottom: 50px;
}
.playlist{
  font-size: 13px;
  color: white;
  opacity:70%;
  list-style: none;
}
.playlist img{
  width: 20px;
}
.playlist i{
  font-size: 25px;
}
/* CONTER */
.conter{
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;
}
  /* BARSIDE */
.barside{
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
}
.menu,
.account{
  background-color: black;
  border: 1px solid black;
}
.menu{
  flex-grow: 1;
  padding: 10px 0 0 10px;
}
.barside h2{
  text-transform: uppercase;
  font-size: 18px;

}
.account > div:first-of-type{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.account i{
  font-size: 10px;
}
.profile img{
  width: 20px;
  background-color: gray;
  border-radius: 50%;
}
.profile h4{
  display: inline;
}
@media screen and (max-width : 600px){
  .barside .menu span,
  .barside .menu i,
  .barside .menu h2,
  .barside .account span,
  .barside .account h4{
    display: none;
  }
  .account > div:first-of-type{
    border-bottom: none;
  }
  .barside{
    flex-basis: 80px;
  }
}
/* CONTER-RIGHT */
.conter-right{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.barnav{
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: black;
  opacity: 70%;
}
.content{
  padding: 120px 0 20px 20px;
  overflow:auto;
  height: 100%;
  background-color: #1d2127;
}
.content .section{
  height: 120px;
}
.footer{
  background-color: #212121;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
