*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h2,
h3,
h4,
h5{
  display: block;
}
/* UTILITIES */
.white{
  color: white;
}
.white-shade{
 color: rgba(255,255,255,0.7);
}
.margin-small{
  margin-bottom: 10px;
}
.margin-big{
  margin-bottom: 50px;
}
.dis-none{
  display: none;
}
.playlist{
  font-size: 13px;
  color: white;
  opacity:70%;
  list-style: none;
}
.playlist img{
  width: 20px;
}
.playlist i{
  font-size: 25px;
}
.evidenza{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15px;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  list-style: none;
}
.evidenza li{
  display: inline-block;
  margin-right: 10px;
}
.round{
  border-radius: 50%;
}
/* CONTER */
.conter{
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;
}
  /* BARSIDE */
.barside{
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}
.menu,
.account{
  background-color: black;
  border: 1px solid black;
}
.menu{
  flex-grow: 1;
  padding: 10px 0 0 10px;
}
.barside h2{
  text-transform: uppercase;
  font-size: 18px;

}
.account > div:first-of-type{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.account i{
  font-size: 10px;
}
.profile img{
  width: 20px;
  background-color: gray;
  border-radius: 50%;
}
.profile h4{
  display: inline;
}
@media screen and (max-width : 600px){
  .barside .menu span,
  .barside .menu i,
  .barside .menu h2,
  .barside .account span,
  .barside .account h4,
  .barside .menu .logo{
    display: none;
  }
  .account > div:first-of-type{
    border-bottom: none;
  }
  .barside{
    flex-basis: 80px;
  }
  .dis-none{
    display: block;
    width: 20px;
  }
}
/* CONTER-RIGHT */
  /* barnav */
.conter-right{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.barnav{
  position: absolute;
  display: flex;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: black;
  opacity: 70%;
  justify-content: flex-end;
}
.barnav button{
  margin-right: 20px;
  align-self: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 30px;
  border: 1px solid white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
}
  /* content */
.content{
  padding: 120px 0 20px 30px;
  overflow:auto;
  height: 100%;
  background-color: #1d2127;
}
.section{
  display: flex;
  flex-wrap: wrap;
}
.content .section li{
  display: inline-block;
  margin-right: 10px;
  width: calc(100% / 6 - 20px);
  min-width: 140px;
  list-style: none;
}
.content .section img{
  width: 100%;
}
.footer{
  background-color: #212121;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
