*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.conter{
  background-color: gray;
  height: calc(100vh - 100px);
  display: flex;
}
.barside{
  width: 100px;
  background-color: black;
}

.conter-right{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  position: relative;
  z-index: 1;
}
.barnav{
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: green;
  opacity: 70%;
}
.content{
  padding-top: 100px;
  overflow-y: scroll;
  height: 100%;
  background-color: yellow;
}
.content .section{
  height: 120px;
}
.footer{
  background-color: dimgray;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
